* {
  background-size: cover;
}

.hide {
  display: none;
}

.over-mark-msg {
  color: orange;
}

body {
  background-color: rgb(171, 171, 172);
  min-width: 300px;
  text-align: center;
  margin: auto;
  color: white;
}

table {
  border-spacing: 0;
  margin: auto;
  border: 8px gray solid;
}

.info-container {
  width: max-content;
  margin: auto;
  position: relative;
  margin: 20px auto 0;
}

.info-container > div {
  display: inline-block;
  font-size: 0;
  margin: 0 10px;
}

.timer-container,
.counter-container {
  width: fit-content;
  font-size: 0;
}

.cell {
  width: 32px;
  height: 32px;
  background-image: url('../sprites/cells/cell.png');
  cursor: pointer;
  padding: 0;
}

.empty {
  background-image: url('../sprites/cells/cell_clicked.png');
}

.safe {
  animation: 500ms infinite blink;
}

@keyframes blink {
  from {
    outline: lime 2px solid;
  }

  to {
    outline: transparent 2px solid;
  }
}

.over-mark {
  animation: 1000ms infinite over-marking;
}

@keyframes over-marking {
  from {
    outline: orange 2px solid;
  }

  to {
    outline: transparent 2px solid;
  }
}

.negs-1 {
  background-image: url('../sprites/cells/cell-1.png');
}

.negs-2 {
  background-image: url('../sprites/cells/cell-2.png');
}

.negs-3 {
  background-image: url('../sprites/cells/cell-3.png');
}

.negs-4 {
  background-image: url('../sprites/cells/cell-4.png');
}

.negs-5 {
  background-image: url('../sprites/cells/cell-5.png');
}

.negs-6 {
  background-image: url('../sprites/cells/cell-6.png');
}

.negs-7 {
  background-image: url('../sprites/cells/cell-7.png');
}

.negs-8 {
  background-image: url('../sprites/cells/cell-8.png');
}

.emoji {
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin: auto;
}

.emoji:active {
  background-image: url('../sprites/emoji/emoji-smile_selected.png');
}

.emoji-happy {
  background-image: url('../sprites/emoji/emoji-smile.png');
}

.emoji-death {
  background-image: url('../sprites/emoji/emoji-death.png');
}

.emoji-scared {
  background-image: url('../sprites/emoji/emoji-scared.png');
}

.emoji-cool {
  background-image: url('../sprites/emoji/emoji-cool.png');
}

.counter {
  width: 28px;
  height: 48px;
  display: inline-block;
}

.count-0 {
  background-image: url('../sprites/counters/count-0.png');
}

.count-1 {
  background-image: url('../sprites/counters/count-1.png');
}
.count-2 {
  background-image: url('../sprites/counters/count-2.png');
}
.count-3 {
  background-image: url('../sprites/counters/count-3.png');
}
.count-4 {
  background-image: url('../sprites/counters/count-4.png');
}
.count-5 {
  background-image: url('../sprites/counters/count-5.png');
}
.count-6 {
  background-image: url('../sprites/counters/count-6.png');
}
.count-7 {
  background-image: url('../sprites/counters/count-7.png');
}
.count-8 {
  background-image: url('../sprites/counters/count-8.png');
}
.count-9 {
  background-image: url('../sprites/counters/count-9.png');
}

.mine {
  background-image: url('../sprites/cells/mine.png');
}

.mine-death {
  background-image: url('../sprites/cells/mine_selected.png');
}

.mine-wrong {
  background-image: url('../sprites/cells/mine-wrong.png');
}

.mark {
  background-image: url('../sprites/cells/mark.png');
}

/* * {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-spacing: 0;
} */
