/*GENERAL STYLES:*/
* {
  background-size: cover;
}

footer {
  font-family: 'VT323', monospace;
  font-size: 18px;
  text-align: center;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 30px;
}

a {
  color: inherit;
}

p {
  font-size: 20px;
}

.hide {
  display: none;
}

.page-container {
  font-family: 'VT323', monospace;
  margin: auto;
  max-width: 1500px;
  min-width: 870px;
  text-align: center;
  margin-top: 50px;
}

table {
  border-spacing: 0;
  margin: auto;
}

/*EXTRAS STYLES:*/
.extras-container {
  align-items: center;
  column-gap: 15px;
  display: flex;
  justify-content: center;
  margin: 6px 0;
}

.extras-container > span img {
  height: 36px;
  width: 36px;
}

.dark-mode-btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#undo-btn,
#redo-btn {
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
}

#undo-btn::before,
#redo-btn::before {
  content: '';
  width: 36px;
  height: 36px;
  transform: scale(2);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  margin-left: 10px;
}

#undo-btn::before {
  background-image: url('../sprites/btn-icons/undo.png');
}
#redo-btn::before {
  background-image: url('../sprites/btn-icons/redo.png');
}

.history-btns,
.control-btns {
  flex: 1 1 0;
}

.history-btns {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/*MAIN STYLES:*/
.main-container h2 {
  font-size: 24px;
  height: 24px;
  letter-spacing: 8px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/*HELPERS STYLES:*/
.helper-stats-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.helper-stats-container img {
  height: 36px;
  width: 36px;
}

.helper-stats-container h4 {
  align-items: center;
  display: flex;
  gap: 10px;
}

.helper-buttons-container {
  display: flex;
  flex-direction: column;
}

.helper-inner-container {
  column-gap: 15px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.helper-container,
.game-modes-container {
  align-content: flex-start;
  flex: 2 2 0;
  font-size: 20px;
  height: 260px;
  line-height: 0;
  margin: 0 15px;
  max-width: 380px;
  text-align: start;
}

.helper-stats-container span {
  height: 38px;
}

/*GAME BOARD STYLES:*/
.game-container {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  min-width: 256px;
}

/*  TOP SECTION:  */
.info-container > div {
  display: flex;
  font-size: 0;
}

.info-container {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.timer-container,
.counter-container {
  font-size: 0;
  width: fit-content;
}

/*GAME MODES STYLES:*/
.game-modes {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

/*BOTTOM TEXT STYLES:*/
.over-mark-msg {
  color: rgb(200, 99, 62);
}

/*OTHERS:*/
.custom-btn {
  cursor: pointer;
  display: inline-block;
  font-family: 'VT323', monospace;
  font-size: 22px;
  margin: 8px 0;
  padding: 6px 10px 6px 6px;
  width: fit-content;
  letter-spacing: 2px;
  border-width: 3.5px;
  border-style: solid;
}

.custom-btn:disabled {
  cursor: not-allowed;
}

.custom-btn-content {
  align-items: center;
  display: flex;
  gap: 6px;
}

.custom-btn-img {
  height: 24px;
  width: 24px;
}

/******************************/
